.title {
  font-family: comic;
  font-size: 48px;
  color: grey;
  border-radius: 25px;
  border: 2px solid #a9a9a9;
  padding: 20px;
width: 40px
  height: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.todo_header{
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  color: silver;
}
.user_input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.input {
  text-align: center;
  width: 700px;
  height: 30px;
  border-radius: 25px;
  font-family: monospace;
  font-size: 25px;
}
.button_add {
  border-radius: 25px;
  width: 60px;
  font-family: monospace;
  font-size: 16px;
}
table {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 22px;
  
  padding: 20px;

  height: 150px;
}
.to_do {
  font-family: sans-serif;
  text-align: center;

  font-size: 25px;
  margin-top: 22px;
  border-radius: 25px;
  border: 2px solid #a9a9a9;
  padding: 20px;

  height: 50px;
}
.row {
    margin-top: 20px;
    height: 40px;
}
.priority_button {
    width: 40px;
    text-align: center;

}
.complete_button {
    align: left;
    width: 40px;
    text-align: center;


}
.remove_button {
    align: left;
    width: 40px;
    text-align: center;


}
body {
  background-color: #add8e6;
}
hr {
  width: 90%;
}
